@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);
  color: var(--secondary-color);
  background: var(--main-color);
  min-height: 100vh;
}